<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../layout/styles/normalize.css">
    <!--    main styles-->
    <link rel="stylesheet" href="../../layout/styles/style.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f97ecc415a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="products-slider padding-site">
        <div class="header">
            <a href="../../../public/index.html" class="logo">
                <img src="../../layout/images/logo.svg" alt="logo">
            </a>
            <nav class="menu">
                <ul>
                    <li class="menu-list">
                        <a href="../../../public/index.html" class="menu-link">HOME</a>
                    </li>
                    <li class="menu-list">
                        <a href="#" class="menu-link menu-link-active">PRODUCTS</a>
                    </li>
                    <li class="menu-list">
                        <a href="#" class="menu-link">HISTORY</a>
                    </li>
                    <li class="menu-list">
                        <a href="../items/item.html" class="menu-link">SHOWROOM</a>
                    </li>
                    <li class="menu-list">
                        <a href="../contact/contact.html" class="menu-link">CONTACT</a>
                    </li>
                    <li class="menu-list">
                        <img src="../../layout/images/search.svg" alt="search" class="menu-search">
                    </li>
                </ul>
            </nav>
        </div>
        <h2 class="products-head">
            Our Products Range
        </h2>
    </div>
    <div class="products-content padding-site">
        <nav class="products-nav">
            <ul>
                <li class="products-nav-list products-nav-list-active">
                    <a href="#" class="products-nav-link products-nav-link-active">
                        All
                    </a>
                </li>
                <li class="products-nav-list">
                    <a href="#" class="products-nav-link">
                        HOME
                    </a>
                </li>
                <li class="products-nav-list">
                    <a href="#" class="products-nav-link">
                        OFFICE
                    </a>
                </li>
                <li class="products-nav-list">
                    <a href="#" class="products-nav-link">
                        FURNITURE
                    </a>
                </li>
                <li class="products-nav-list">
                    <a href="#" class="products-nav-link">
                        MODERN
                    </a>
                </li>
                <li class="products-nav-list">
                    <a href="#" class="products-nav-link">
                        CLASSIC
                    </a>
                </li>
            </ul>
        </nav>
        <div class="products-catalog">
            <ul>
                <li class="products-catalog-list">
                    <a href="#" class="products-catalog-link">
                        <img src="../../layout/images/trending-img/trending-first.jpg" alt="trending">
                    </a>
                </li>
                <li class="products-catalog-list">
                    <a href="#" class="products-catalog-link">
                        <img src="../../layout/images/trending-img/trending-second.jpg" alt="trending">
                    </a>
                </li>
                <li class="products-catalog-list">
                    <a href="#" class="products-catalog-link">
                        <img src="../../layout/images/trending-img/trending-third.jpg" alt="trending">
                    </a>
                </li>
                <li class="products-catalog-list">
                    <a href="#" class="products-catalog-link">
                        <img src="../../layout/images/trending-img/trending-fourth.jpg" alt="trending">
                    </a>
                </li>
                <li class="products-catalog-list">
                    <a href="#" class="products-catalog-link">
                        <img src="../../layout/images/trending-img/trending-fifth.jpg" alt="trending">
                    </a>
                </li>
                <li class="products-catalog-list">
                    <a href="#" class="products-catalog-link">
                        <img src="../../layout/images/trending-img/trending-sixth.jpg" alt="trending">
                    </a>
                </li>
            </ul>
        </div>
        <a href="#">
            <img src="../../layout/images/load.png" alt="load" class="load">
        </a>
    </div>
    <div class="exclusive-block">
        <div class="exclusive-item">
            <div class="exclusive-text">
                <p class="exclusive-name">exclusive</p>
                <h3 class="exclusive-head">Fishnet Chair</h3>
                <p class="exclusive-content">
                    Seat and back with upholstery made of&nbsp;cold cure foam. <br>
                    Steel frame, available in&nbsp;matt
                </p>
                <a href="#" class="button">Order Us</a></div>
        </div>
        <div class="exclusive-item">
            <div class="exclusive-text">
                <p class="exclusive-name">exclusive</p>
                <h3 class="exclusive-head">Fishnet Chair</h3>
                <p class="exclusive-content">
                    Seat and back with upholstery made of&nbsp;cold cure foam. <br>
                    Steel frame, available in&nbsp;matt
                </p>
                <a href="#" class="button">Order Us</a></div>
        </div>
    </div>
    <div class="footer padding-site">
        <div class="footer-content">
            <div class="footer-contacts">
                <h4 class="footer-headers">
                    Contact Us
                </h4>
                <p class="contacts-text">132A Bridge Road Richmond VIC <br>
                    Australia.</p>
                <p class="contacts-text">
                    Talk to&nbsp;us on&nbsp;1300&nbsp;132 <br>
                    info@interior.com
                </p>
            </div>
            <div class="footer-info">
                <h4 class="footer-headers">
                    Useful Information
                </h4>
                <div class="footer-info-menu">
                    <ul class="info-menu">
                        <li class="info-list">
                            <a href="#" class="info-link">
                                Sales terms
                            </a>
                        </li>
                        <li class="info-list">
                            <a href="#" class="info-link">
                                Customer care
                            </a>
                        </li>
                        <li class="info-list">
                            <a href="#" class="info-link">
                                Delivery
                            </a>
                        </li>
                    </ul>
                    <ul class="info-menu">
                        <li class="info-list">
                            <a href="#" class="info-link">
                                Architect accounts
                            </a>
                        </li>
                        <li class="info-list">
                            <a href="#" class="info-link">
                                Careers
                            </a>
                        </li>
                        <li class="info-list">
                            <a href="#" class="info-link">
                                Exchanges &amp;&nbsp;returns
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-subscribe">
                <h4 class="footer-headers">
                    Let&rsquo;s Stay in&nbsp;Touch!
                </h4>
                <p class="subscribe-text">
                    Subscribe to&nbsp;know about our latest news, products and <br>
                    special offers just for subscribers.
                </p>
                <div class="footer-input">
                    <label>
                        <input type="email" placeholder="your email address" class="footer-email">
                        <a href="#" class="email-button">
                            <img src="../../layout/images/plane.png" alt="plane">
                        </a>
                    </label>
                </div>
            </div>
        </div>
        <div class="footer-title">
            <div class="footer-copyright">
                <p class="copyright-text">
                    &copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.
                </p>
            </div>
            <div class="footer-socials">
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
            <div class="footer-terms">
                <p class="terms-text">
                    Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>