* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.padding-site {
    padding: 0 98px 0 98px;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slider {
    background: url(images/slider-img.jpg) no-repeat;
    position: relative;
    padding-bottom: 200px;
    background-size: cover;
    flex: 0 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    flex-wrap: wrap;
}

.logo {
    margin-bottom: 15px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-list {
    list-style-type: none;
    margin-bottom: 15px;
}

.menu-link {
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu-search {
    vertical-align: top;
}

.slider-text {
    margin-top: 283px;
    width: fit-content;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-head {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content {
    line-height: 24px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin: 20px 0 30px 0;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    letter-spacing: 3px;
}

.button:hover {
    background-color: transparent;
}

.pagination {
    position: absolute;
    width: calc(100% - 200px);
    bottom: 19px;
    text-align: center;
}

.circle {
    background-color: #c7c7c7;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 0;
}

.content {
    flex: 1 0 auto;
}

.new-catalog {
    padding-bottom: 120px;
    padding-top: 120px;
}

.new-catalog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-flow: wrap-reverse;
}

.choose-list {
    border-bottom: 1px solid #6c6c6c;
}

.choose-list ul {
    list-style-type: none;
}

.catalog-list {
    display: inline-block;
    padding-bottom: 10px;
}

.catalog-list:first-child {
    margin-right: 20px;
    border-bottom: 3px solid black;
}

.catalog-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.catalog-link:hover {
    color: #212121;
}

.catalog-link:hover .catalog-list {
    border-bottom: 3px solid black;
}

.catalog-link-active {
    color: #212121;
}

.all-list-link {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    align-self: center;
}

.all-list-link:hover {
    color: #6c6c6c;
}

.new-catalog-list {
}

.new-catalog-list ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}

.items-list {
    position: relative;
}

.items-list:hover .items-list-hover {
    display: block;
}

.items-list-hover {
    display: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.9;
    padding-top: 62px;
    text-align: center;
}

.items-list-circle {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    display: inline-block;
    line-height: 58px;
    border-radius: 50%;
    margin-bottom: 18px;
}

.items-list-head {
    margin-bottom: 10px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

.items-list-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.items-link {
}

.exclusive-block {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.exclusive-item {
    flex-grow: 1;
    /*width: 50%;*/
    background: url("images/exclusive-img/exclusive-first.jpg");
    background-size: cover;
}

.exclusive-item:last-child {
    background: url("images/exclusive-img/exclusive-second.jpg");
    background-size: cover;
}

.exclusive-text {
    padding: 228px 0 256px 50px;
    width: fit-content;
}

.exclusive-name {
    margin-bottom: 5px;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.exclusive-head {
    margin-bottom: 10px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-content {
    margin-bottom: 25px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.trending-catalog-block {
    padding-top: 120px;
}

.trending-catalog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-wrap: wrap-reverse;
}

.trending-catalog-head {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.trending-catalog {

}

.trending-catalog ul {
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.trending-catalog-list {
    margin-bottom: 30px;
}

.trending-catalog-link img {
    width: 100%;
}

.slider-hotDeal {
    background: url("images/hot-deal.jpg") no-repeat;
    height: 800px;
    position: relative;
}

.slider-text-hotDeal {
    padding-top: 287px;
    margin-top: 90px;
}

.exclusive-catalog-block {
    padding-bottom: 120px;
    padding-top: 120px;
    display: flex;
    flex-flow: wrap;
}

.exclusive-item-another {
    background: url("images/exclusive-catalog-img/pillow.jpg") no-repeat;
    flex-basis: 570px;
    flex-grow: 1;
    background-size: cover;
}

.exclusive-catalog-items {
    display: flex;
    flex-grow: 1;
    flex-basis: 570px;
}

.exclusive-catalog-items ul {
    align-content: space-between;
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
}

.exclusive-text-another {
    padding: 185px 0 185px 30px;
}

.exclusive-catalog-list {
}

.exclusive-catalog-link {
}

.exclusive-catalog-link img {
}

.mobile-app-block {
    width: 100%;
    background: url("images/mobile-app-img/mobileApp-back-img.jpg") no-repeat;
    background-size: cover;
}

.mobile-app-text {
    width: fit-content;
    padding: 125px 0 125px 100px;
}

.mobile-app {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.mobile-app-head {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.mobile-app-content {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 33px;
}

.mobile-app-download {
    list-style-type: none;
    display: flex;
    width: fit-content;
}

.mobile-app-list:first-child {
    margin-right: 10px;
}

.mobile-app-link {
}

.footer {
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #f7f7f7;
    flex: 0 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.footer-contacts, .footer-subscribe, .footer-info {
    width: fit-content;
    margin-bottom: 15px;
}

.footer-headers {
    margin-bottom: 10px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contacts-text, .subscribe-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.contacts-text:first-of-type {
    margin-bottom: 10px;
}

.footer-info-menu {
    display: flex;
    justify-content: space-between;

}

.info-menu {
    list-style-type: none;
}

.info-menu:first-child {
    margin-right: 100px;
}

.info-list {
}

.info-link {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subscribe-text {
    margin-bottom: 25px;
}

.footer-input {
    position: relative;
}

.email-button {
    position: absolute;
    right: 17px;
    top: 17px;
}

.footer-email {
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
}

.footer-title {
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.footer-copyright, .footer-terms, .footer-socials {
    margin-bottom: 15px;
}

.copyright-text, .terms-text {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-socials a {
    font-size: 28px;
    text-decoration: none;
    color: #6c6c6c;
}

.footer-terms {
}