* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.padding-site {
    padding: 0 98px 0 98px;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background: url(images/slider-img.jpg) no-repeat;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

.menu-list {
    list-style-type: none;
    display: inline-block;
}

.menu-link {
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu-search {
    vertical-align: top;
}

.slider-text {
    margin-top: 283px;
    width: fit-content;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-head {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content {
    line-height: 24px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin: 20px 0 30px 0;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    letter-spacing: 3px;
}

.button:hover {
    background-color: transparent;
}

.pagination {
    position: absolute;
    width: calc(100% - 200px);
    bottom: 19px;
    text-align: center;
}

.circle {
    background-color: #c7c7c7;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 0;
}

.content {
}

.new-catalog {
    padding-bottom: 120px;
    padding-top: 120px;
}

.new-catalog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.choose-list {
    border-bottom: 1px solid #6c6c6c;
}

.choose-list ul {
    list-style-type: none;
}

.catalog-list {
    display: inline-block;
    padding-bottom: 10px;
}

.catalog-list:first-child {
    margin-right: 20px;
    border-bottom: 3px solid black;
}

.catalog-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.catalog-link:hover {
    color: #212121;
}

.catalog-link:hover .catalog-list {
    border-bottom: 3px solid black;
}

.catalog-link-active {
    color: #212121;
}

.all-list-link {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    align-self: center;
}

.all-list-link:hover {
    color: #6c6c6c;
}

.new-catalog-list {
}

.new-catalog-list ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.items-list {
    position: relative;
}

.items-list:hover .items-list-hover {
    display: block;
}

.items-list-hover {
    display: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.9;
    padding-top: 62px;
    text-align: center;
}

.items-list-circle {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    display: inline-block;
    line-height: 58px;
    border-radius: 50%;
    margin-bottom: 18px;
}

.items-list-head {
    margin-bottom: 10px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

.items-list-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.items-link {
}

.exclusive-block {
    display: flex;
    height: 683px;
}

.exclusive-item {
    width: 50%;
    background: url("images/exclusive-img/exclusive-first.jpg");
}

.exclusive-item:last-child {
    background: url("images/exclusive-img/exclusive-second.jpg");
}

.exclusive-text {
    padding: 228px 0 0 50px;
    width: fit-content;
}

.exclusive-name {
    margin-bottom: 5px;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.exclusive-head {
    margin-bottom: 10px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-content {
    margin-bottom: 25px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.trending-catalog-block {
    padding-top: 120px;
}

.trending-catalog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.trending-catalog-head {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.trending-catalog {

}

.trending-catalog ul {
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.trending-catalog-list {
    margin-bottom: 30px;
}

.trending-catalog-link {
}

